{
  "plugins": [
    [
      "snowpack/assets/babel-plugin.js",
      {}
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}